{
  "plugins": [
    [
      "transform-runtime",
      {
        "pollyfill": false
      }
    ]
  ],
  "presets": [
    ["es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ]
}